/*
12 Media Queries
---------------------------------------------------------------------------------------------------- */
#mobile-nav {
	display:none;
	background-color:#3b3d42;
}

.toggle-switch span {
	color: #ddd;
}

.toggle-switch{
	display: block;
	width: 100%;
	padding: 15px 0;
	text-align: left;
	text-decoration: none;
	position: relative;
	text-indent: 20px;
}

.toggle-switch:after{
	content: "";
	background: url(../lib/images/mobile_button_white.png) no-repeat ;
	position: absolute;
	height: 30px;
	width: 30px;
	top: 10px;
	right: 15px;
}

.primary .toggle-switch,
.secondary .toggle-switch {
	/*background: -webkit-linear-gradient(#4d4c4c 0%, #ffffff 100%);*/
	/*background: -webkit-linear-gradient(rgba(22,22,22,1) 0%, rgba(78,78,78,1) 100%)*/
	background-color:#3b3d42;
}	   


/*
14 Media Queries
---------------------------------------------------------------------------------------------------- */

/* Desktops, laptops and iPads (landscape) ----------- */

@media only screen and (max-width: 1024px) {

	.wrap {
		padding: 0 10px;
	}	

}

/* iPads (portrait) ----------- */

@media only screen and (max-width: 768px) {

	.wrap {
		padding: 0 2%;	
	}

	.archive-page,
	.footer-widgets .widget-area,
	.wrap,
	#footer .creds,
	#footer .gototop,
	#header .widget-area,
	#inner,
	#title-area,
	#wrap .sidebar,
	#wrap #content,
	#wrap #content-sidebar-wrap,
	#wrap #sidebar-alt,
	.header-image #title,
	.header-image #title-area
 	{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.header-image #title, 
	.header-image #title-area {
		min-height: 50px;
	}

	.header-image #title a {
		margin:auto;
	}

	.genesis-nav-menu li,
	#footer .creds,
	#footer .gototop,
	#header ul.genesis-nav-menu,
	#header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	#description,
	#footer .creds,
	#footer .gototop,
	#header .search-form,
	#title,
	#title-area {
		text-align: center;
	}

	.genesis-nav-menu a {
		padding: 1.25rem 1rem;
	}

	#title {
		margin: 1rem 0;
	}

	#header .search-form {
		margin: 2rem auto 0;
		width: 50%;
	}

	.menu li.right {
		display: none;
	}

	#footer .wrap {
		padding: 1.5rem 0;
	}

	#footer-widgets .widget-area {
		margin: 0;
	}
	
	#footer #footer-left,
	#footer #footer-right {
		text-align: center;
		width: 100%;
		float: none;
		padding: 0 0 .75rem;
	}
	
	.gototop {
		float: none;
	}
	
	#nav,
	#subnav {
		display: none;
	}
	
	#mobile-nav {
		display: block;
	}
	
	
	#footer .one-half {
		margin-left: 0;
	}

	/* Align everything center */
	.alignright,
	img.alignright,
	.aligncenter,
	img.aligncenter,
	.alignleft,
	img.alignleft {
		display: block;
		margin: 0 auto 24px;
		float:none;
	}

/* Align Simple Social Icons Centered */
	.simple-social-icons ul.alignright,
	.simple-social-icon ul.alignleft {
		text-align: center;
	}

	.simple-social-icons ul.alignright li,
	.simple-social-icons ul.alignleft li {
		display: inline-block;
		float: none;
	}

	/*#header .widget_text {
		display:none;
	}*/

}

/* iPhones (portrait and landscape) ----------- */

@media only screen and (max-width: 480px) {

	html {
		font-size: 87.5%; /* 14px base */
	}

	#header .search-form {
		width: 100%;
	}

	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

}
