/* Headings */

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.entry-title a,
	.site-title {
		line-height: 1.2;
		@include rem(margin-bottom, 16px);
		font-family: $googleFont;
		font-weight: 700;
	}

	

	h1,
	.entry-title,
	.entry-title a,
	.site-title {
		@include rem(font-size, 32px);
	}

	/* Title Class for SEO / No Overuse of H Tags */
	.title,
	h2 {
		@include rem(font-size, 28px);
	}

	h2 a,
	h2 a:visited {
		color: $color-extra;
		&:hover { color: shade($color-cta, 30%); }
	}


	h3 {
		@include rem(font-size, 24px);
	}

	h4,
	.archive-title,
	.taxonomy-description h1,
	.widgettitle {
		@include rem(font-size, 20px);
	}

	h4.widgettitle a {
		color:$color-cta;
	}

	h5 {
		@include rem(font-size, 18px);
	}

	h6,
	.author-box h1,
	.sidebar h2 a {
		@include rem(font-size, 14px);
	}

	.author-box h1 {
		margin: 0;
		line-height: 1.5;
	}

	.taxonomy-description h1 {
		
		@include rem(margin-bottom, 4px);
	}

	.archive-title {
		
		@include rem(margin-bottom, 24px);
	}
