.site-header {
	
	min-height: 120px;
	overflow: hidden;
	@include rem(padding-bottom, 32px);
}

.site-title {
	@include rem(margin, 40px 0 8px);
	@include rem(font-size, 48px);
	a {
		color:$color-extra;
		&:hover { color: $color-cta; }
	}

	font-family: $googleFont;
	font-weight:700;
}


.header-image .site-title {
	margin: 0;
}

.site-description {
	line-height: 1.25;
	color: $color-extra;
}


.header-full-width .site-title,
.header-full-width .site-title a,
.header-full-width .title-area {
	width: 100%;
}

.header-image .site-title,
.header-image .site-title a,
.header-image .title-area {
	display: block;
	float: left;
	min-height: 120px;
	overflow: hidden;
	width: 50%;
}

.header-image .site-description {
	display: none;
}

.site-header .search-form {
	float: right;
	@include rem(margin-top, 56px);
	width: 100%;
}
