.genesis-nav-menu {
	clear: both;
	overflow: hidden;
}

#header .genesis-nav-menu {
	float: right;
	margin-top: 48px;
	@include rem(margin-top, 48);
	width: auto;
}


#nav {
	background-color: $color-extra;
}

.genesis-nav-menu.menu-primary {

	a {
		color: $light;
			&:hover { color: $color-cta; }
	}

	li.highlight-menu-item {
		margin-left: 20px;
		@include rem(margin-left, 20);
	}

	.highlight-menu-item a {
		background-color: $color-cta;
		color: $light;
	}

	.highlight-menu-item a:hover {
		background-color: $light;
		color: $dark;
	}

	li ul {
        background:$color-extra; 
    }

    li ul a {     
        border:1px solid tint($color-extra, 30%);
    }

    li ul a {
        background: none;
        margin-right: 0;
        width: 200px;        
    }

    li ul a:first-child {
		border-top: none;
    }


}

.genesis-nav-menu.menu-secondary {

	a {
	color:$dark;
		&:hover {color: $color-cta; }
	}

	li ul {
        background:$light;       	
	}

	li ul a {
        border:1px solid tint($color-extra, 30%);
    }

    li ul a {
        background: none;
        margin-right: 0;
        width: 200px;        
    }

    li ul a:first-child {
		border-top: none;
    }


}

.genesis-nav-menu {
	
	ul {
		float: left;
		width: 100%;
	}

	li {
		display: inline-block;
		float: left;
		list-style-type: none;
		text-align: left;
	}

	a {
		display: block;
		padding: 24px 20px;
		padding: cr(24) cr(20);
		position: relative;
	}

	li ul {        
        left: -999em;
        margin: -1px 0 0;
        position: absolute;
        width: 200px;
        z-index: 9999;
       	
	}

	li:hover ul {
	   left: auto;
	}

	li li ul {
        margin: -1px 0 0 199px;
        display:none;
	}

	li li:hover > ul {
        display:block;
        margin-top:-71px;        
	}

}




/*  Primary Navigation Extras */

	.genesis-nav-menu li.right {
		float: right;
		padding: 24px 20px;
		padding: cr(24) cr(20);
	}

	.genesis-nav-menu li.right a {
		display: inline;
		padding: 0;
	}

	.genesis-nav-menu li.search {
		padding: 6px 0 0;
		padding: cr(6) 0 0;
	}

	.genesis-nav-menu li.rss a {
		background: url(images/rss.png) no-repeat center left;
		margin-left: 20px;
		@include rem(margin-left, 20);
		padding-left: 20px;
		@include rem(padding-left, 20);
	}

	.genesis-nav-menu li.twitter a {
		background: url(images/twitter-nav.png) no-repeat center left;
		padding-left: 24px;
		@include rem(padding-left, 24);
	}


/* Pagination */ 

	.navigation li {
		display: inline;
	}

	.navigation li a,
	.navigation li a:hover,
	.navigation li.active a,
	.navigation li.disabled {
		background-color: tint($dark, 30%);
		border-radius: 3px;
		cursor: pointer;
		padding: 12px;
		@include rem(padding, 12);
		color:$light;
	}

	.navigation li a:hover,
	.navigation li.active a {
		background-color: $light;
		color:$dark;
	}

