.author-box,
.sticky {
	@include rem(margin-bottom, 80px);
}

.author-box,
.taxonomy-description {
	line-height: 1.5;
}

.author-box,
.sticky,
.taxonomy-description {
	background-color: #f5f5f5;
	@include rem(margin-bottom, 48px);
	overflow: hidden;
	@include rem(padding, 32px);
}

.breadcrumb {
	background-color: #f5f5f5;
	@include rem(margin-bottom, 10px);
	overflow: hidden;
	@include rem(padding, 10px);
}

