/* Responsive Design Custom Styles
------------------------------------------------------------ */

/* Smaller screens */

@media only screen and (max-width: 1023px) {
	/* Enter Your Custom Styles Here */	
}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {
	/* Enter Your Custom Styles Here */	
}


@media only screen and (max-width : 480px) {  
	/* Enter Your Custom Styles Here */	  
} 

@media only screen and (max-width : 320px) {  
	/* Enter Your Custom Styles Here */	
}